.tag {
  display: inline-block;
  text-transform: uppercase;
  font-size: var(--font-size-tiny);
  color: var(--color-text-tertiary);
  letter-spacing: 1.5px;
  font-weight: var(--font-weight-medium);
  background: none;
  border: none;
  padding: 0;
}